<!DOCTYPE html>
<html>
<head>
  <title>/ascii/</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <h1>/ascii/</h1>
  <form method="post">
    <label>
      <div>title</div>
      <input type='text' name='title' value="{{title}}">
    </label>
    <label>
      <div>art</div>
      <textarea name="art">{{art}}</textarea>
    </label>
    <div class="error">{{error}}</div>
    <input type='submit'>
  </form>
  {% if image_url %}
    <img src="{{image_url}}">
  {% endif%}}
  <hr>
  {% for art in arts %}
    <div class="art">
      <h1>{{art.title}}</h1>
      <pre class="art-body">{{art.art}}</pre>
    </div>
    <hr>
  {% endfor %}

</body>
</html>